<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Guard</title>
    <link rel="stylesheet" href="style_visuals.css">

</head>
<body class="body_bg">
    <div class="navbar">
        <a href="#" class="navbar_text">VISUALS</a>
        <a href="#" class="navbar_text">SIMULATION</a>
        <a href="#" class="navbar_text">ABOUT US</a>
        <a href="index.htm" class="navbar_text">HOME</a>
    </div>
    <div class="watermark">
        <img src="Waterwark_visuals.png" alt="DisasterGuard" class="watermark_img">

    </div>
    <div class="card-tsunami">  
        <img src="Tsunami Gradient.png" alt="Tsunami card">
        <div class="tsunami-img">
            <img src="Frame 11.png" alt="Tsunami">
            <div class="tsunami-text">
                <img src="Tsunami Header.png" alt="Tsunami Header">
            </div>
        </div>
        <div class="tsunami-info">
            <p>
              We will alert you well in advance of any tsunami. 
              However, if you wish, you can verify by entering 
              your own data for confirmation and safety.
            </p>
        </div>
    </div>
</body>
</html>